{% extends 'template.html' %}
{% load staticfiles %}

{% block content %}

<section id="news">
	<div class="container">
		<div class="row">
			<div class="col-md-3 menu">
				<ul class="list-group">
				{% for category in categorys %}
					<li class="list-group-item"><a data-index="{{ forloop.counter0 }}" href="javascript:;"><span class="{{ category.logo }}"></span>{{ category.name }}</a></li>
					
				{% endfor %}
				</ul>
			</div>
			<div class="col-md-9">
				<ul id="content">
					<li class="content-box">
						{% for scoop in scoops %}
						<div class="item">
							<div class="col-md-4">
								<img src="{{ scoop.poster }}" alt="" class="img-responsive">
							</div>
							<div class="col-md-8">
								<h3><a href="news/{{ scoop.id }}">{{ scoop.title }}</a></h3>
								<span class="{{ scoop.category.logo }}"></span><span class="name">{{ scoop.category.name }}</span>
								<p>{{ scoop.summary }}</p>
							</div>
						</div>														
						{% endfor %}
					</li>

					<li class="content-box">
						{% for finance in finances %}
						<div class="item">
							<div class="col-md-4">
								<img src="{{ finance.poster }}" alt="" class="img-responsive">
							</div>
							<div class="col-md-8">
								<h3><a href="news/{{ finance.id }}">{{ finance.title }}</a></h3>
								<span class="{{ finance.category.logo }}"></span><span class="name">{{ finance.category.name }}</span>
								<p>{{ finance.summary }}</p>
							</div>
						</div>
						{% endfor %}
					</li>

					<li class="content-box">
						{% for society in societies %}
						<div class="item">
							<div class="col-md-4">
								<img src="{{ society.poster }}" alt="" class="img-responsive">
							</div>
							<div class="col-md-8">
								<h3><a href="news/{{ society.id }}">{{ society.title }}</a></h3>
								<span class="{{ society.category.logo }}"></span><span class="name">{{ society.category.name }}</span>
								<p>{{ society.summary }}</p>
							</div>
						</div>
						{% endfor %}
					</li>
				</ul>
			
			</div>

			
		
		</div>
	</div>
</section>
<section id="footer"></section>
{% endblock %}

{% block js %}
<script type="text/javascript">
	$(function(){
		content_boxes = $("ul#content").find("li.content-box");
		content_boxes.eq(0).show();
		content_boxes.eq(0).siblings().hide();

		var item = $(".menu").find("li");
		item.hover(function(){
			
			$(this).addClass("border-active");
		}, function(){
			$(this).removeClass("border-active");
		});

		

		
		item.find("a").click(function(){
			var index = $(this).attr("data-index");
			// alert(index);
			var content = content_boxes.eq(index);
			content.show();
			content.siblings().hide();
		})

	});
</script>
{% endblock %}